* {
  box-sizing: border-box;
}

html {
  background-color: black;
}

body {
  margin: 0 auto 0 auto;
  max-width: 1500px;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Gothic A1', sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar */
.navbar {
  width: 100%;
}

.navbar-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.navbar-li {
  margin-top: 0;
  margin-bottom: 0;
  color: #00d4d4;
  font-size: 1em;
}

/* Main Sections */
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section {
  margin: 0 auto 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.section-container-white {
  background-color: white;
  width: 100%;
}

.section-container-black {
  background-color: black;
  width: 100%;
  color: white;
}

.transparent-button {
  background-color: transparent;
  border: 1px solid #00d4d4;
  color: #00d4d4;
}

/* Landing Section */
.section-landing-heading {
  line-height: .9em;
}

.landing-greeting {
  font-size: .75em;
  color: #00d4d4;
  display: inline-block;
}

.landing-name {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.landing-title {
  font-size: .75em;
  color: #bebebe;
  display: inline-block;

}

.landing-button-container {
  display: flex;
  justify-content: flex-start;
}

/* About Section */
.section-about {
  width: 80%;
}

.section-about-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Work Section */
.section-work {
  width: 80%;
}

.section-work-content {
  display: flex;
  justify-content: space-between;
}

.work-content-item {
  /* flex: 0 0 33%; */
  text-align: center;
}

/* For Tablets */
@media only screen and (min-width: 600px) {
  .section {
    width: 85%;
  }
}

/* For Desktop */
@media only screen and (min-width: 992px) {
  .section {
    width: 75%;
  }
  .landing-greeting {
    font-size: 1em;
  }

  .landing-name {
    font-size: 1.75em;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .landing-title {
    font-size: 1em;
  }

  .work-content-item {
    flex: 0 0 33%;
    text-align: center;
  }
}





